@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />

<h3>Заказы:</h3>
<table>
    @{
        string[] a =
            {"Цветок", "Количество", "Улица",
            "Номер квартиры / Дома", "Номер подъезда", "Этаж",
            "Комментарий", "Имя заказчика", "Время доставки" };
    }
    <tr>
        @foreach (var item in a)
        {
            <th>@item</th>
        }
    </tr>
    @foreach (var item in ViewBag.Flowers)
    {
        <tr>
            <td>@item.FlowerName</td>
            <td>@item.Count</td>

            @foreach (var itemAddress in item.Address.CreateAddress())
            {
                <td>@itemAddress</td>
            }

            <td> @item.Comment </td>
            <td>@item.CustomerName</td>
            <td>@item.Date.ToString()</td>
        </tr>
    }
</table>